/* shared style */
:root {
    --primary-color: #FF42A5;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}

.btn-primary,
.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
    text-transform: uppercase;
    border-radius: 48px;
    background: var(--primary-color);
    margin-top: 40px;
}

.btn {
    background-color: #4EC5F7;
    margin-left: 10px;
}

.section-tltle {
    color: #0B0223;

    font-size: 48px;

    font-weight: 700;
}

.section-tltle span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;

}

.section-description {
    color: #534C64;
    font-size: 18px;
    line-height: 30px;
}

main {
    margin: 0 240px;
}


/* header section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width:1440px ; */
    margin: 30px 240px;

}

nav>ul {
    display: flex;
    /* justify-content: ce; */
    align-items: center;
    gap: 32px;

}

.logo {
    display: flex;
    gap: 20px;

}

.logo>h2 {
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo span {
    color: var(--primary-color);
}

ul>li {
    list-style: none;
    color: #3C354F;
    font-weight: 500;
}

.follow {
    border-radius: 8px;
    display: flex;
    gap: 24px;
    padding: 17px 24px;
    background: rgba(11, 2, 35, 0.10);
}

.follow img {
    height: 24px;
}

/* banner secrion */

.banner {
    background-image: url("images/Group 14.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 240px;
    /* text-align: center; */
}

.banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.Goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-align: center; */
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}

.list {
    display: flex;
    gap: 10px;
    align-items: center;
}

.list-discription {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
    text-transform: lowercase;
}

.fa-solid {
    color: var(--primary-color);
    text-align: center;
    padding: 0;
}

/* online game section */

.online-game {
    text-align: center;
    margin: 120px 0;
}


.game-img .img .watch{
    z-index: 99;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}
.game-img .img .fa {
    font-size: 50px;
    margin-bottom: 10px;
    color: white;
    
    
}

.game-img .img {
    position: relative;
}

.game-img .img img{
    filter: brightness(1);
    
}
.game-img:hover img{
    filter: brightness(0.3);
}
.game-img:hover .watch{
    display: block;
}


.game-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;

}

.image-description {
    width: 340px;

}

.game-img img {
    margin: 48px 0 24px 0;
}

/* instant-play section */

.instant-play {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 120px 0; */


}


.instant-contant>.section-tltle,
.instant-contant>.section-description {
    width: 350px;
    text-align: right;
    margin-bottom: 24px;

}

.instant-img .small {
    border-radius: 8px;
    position: relative;
    left: 150px;
    top: 75px;
}

.game-type-container {
    margin-top: 120px;
    margin-bottom: 100px;
    gap: 27px;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.game-type {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid white;

}

.game-type:hover {
    border: 2px solid var(--primary-color);

}

.game-type:hover .img-description {
    color: var(--primary-color);

}



.img-description {
    color: #0B0223;

    font-size: 20px;
    font-weight: 600;


}



footer {
    padding: 120px;
    text-align: center;
    background-color: #0B0223;

}

.nav {
    display: flex;
    justify-content: center;
    gap: 60px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    margin: 70px 0;
}



footer .logo {

    color: #FFF;
    text-align: center;
    /* display: block; */
    justify-content: center;

}

.div-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 70px;
}

.div-icon .fa-brands {
    font-size: 48px;
    color: #fff;

}

.privacy-policy {
    display: flex;
    justify-content: center;
    gap: 60px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.60);


    font-weight: 500;

}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;

}

/* respnsive design for mobile */

@media screen and (max-width:576px) {

    nav,
    ul,
    .instant-play {
        flex-direction: column;
    }

    nav {
        gap: 62px;
        margin: 50px;

    }

    main {
        margin: 50px;
    }



    .section-tltle {
        font-size: 2rem;
    }

    .banner {
        flex-direction: column-reverse;
        margin: 50px;
        padding: 0;

        background-image: none;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .Goat {
        font-size: 3rem;
    }


    .list-discription {
        font-size: 16px;
        margin: 5px;
    }

    .banner img {
        width: 100%;
    }

    .banner-contant-parent {
        background-image: url("images/Group 14.png");
        background-size: contain;
        height: 450px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-contant {
        width: 250px;
        margin-top: 20px;

    }

    .btn-primary,
    .btn {
        font-size: 16px;
        padding: 10px 20px;
        margin-top: 20px;
    }



    .game-container {
        display: flex;
        flex-direction: column;
        gap: 24px;

    }

    .game-img img {
        margin: 24px 0;
    }

    .instant-img {
        display: flex;
        flex-direction: column-reverse;
    }

    .instant-img .small {
        position: relative;
        left: 0;
        top: -90px;
        width: 40%;
        z-index: 2;
    }

    .instant-img .big {
        width: 80%;
        position: relative;
        left: 60px;
    }

    .instant-contant>.section-tltle {
        width: 250px;
        margin: auto;
        text-align: center;
        margin-bottom: 15px;

    }

    .instant-contant>.section-description {
        width: 350px;
        text-align: center;
    }

    .game-type-container {
        margin-top: 50px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .img-description {
    
        font-size: 14px;

    
    
    }

    footer {
        padding: 50px;
    }

    .div-icon,
    .nav {
        display: grid;
        grid-template-columns: 1fr  1fr;

    }

    .privacy-policy {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



}

/* tablet design */



@media screen and (min-width:576px) and (max-width:970px){



    nav{
        
        margin: 20px 100px;
        flex-direction: column;
    }

    main {
        margin: 0 100px;
    }

    .section-tltle{
        font-size: 2.2rem;
    }
    .banner {
        /* flex-direction: column-reverse; */
        margin: 100px;
        padding: 0;

        background-image: none;
    }

    .banner img {
        width: 50%;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .Goat {
        font-size: 3rem;
    }


    .list-discription {
        font-size: 16px;
        margin: 5px;
    }
    .btn-primary,
    .btn {
        font-size: 16px;
        padding: 5px 10px;
        margin-top: 20px;
    }

    .game-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;

    }
    .game-container img{
        width: 100%;
    }

    .online-game {

        margin-top: 50px;
    }

    .game-img img {
        /* margin: 48px 0 24px 0; */
        width: 250px;
    }

    .instant-play{
        flex-direction: column;

    }
    .instant-img img{
        width: 90%;
        margin-left: 50px;
    }

    .instant-img{
        position: relative;
    }

    .instant-img .small{
        width: 50%;
    }

    .instant-img .small {
        position: absolute;
        left: -80px;
        /* bottom: 20px; */
        top: 300px;
        width: 40%;
        z-index: 2;
    }

    .instant-contant>.section-tltle {
        /* width: 250px; */
        margin: auto;
        text-align: center;
        margin-bottom: 15px;

    }

    .instant-contant>.section-description {
        width: 350px;
        text-align: center;
    }

    .game-type-container {

        /* gap: 27px; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* justify-content: center;
        align-items: center; */
    }
    .img-description {
    
        font-size: 14px;

    
    
    }


    footer {
        padding: 50px;
    }

    .div-icon,
    .nav {
        display: grid;
        grid-template-columns: 1fr  1fr 1fr;

    }

    .privacy-policy {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .privacy-policy{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
} 
/* main{
    display: none;
} */